/* --- Awwwards Ribbons --- */

/* Base */

#awwwards {
    position: fixed;
    top: 30%;
    z-index: 9999;
}

/* Left */

#awwwards.left {
    left: 0;
}

/* Right */

#awwwards.right {
    right: 0;
}

/* Link */

#awwwards a {
    display: block;
    width: 70px;
    height: 105px;
    text-indent: -8000px;
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow: hidden;
}

/* Black */

#awwwards.left.black a {
    background-image: url('/img/assets/ribbons/awwwards_honorable_black_left.png');
}

#awwwards.right.black a {
    background-image: url('/img/assets/ribbons/awwwards_honorable_black_right.png ');
}

/* White */
#awwwards.left.white a {
    background-image: url(' /img/assets/ribbons/awwwards_honorable_white_left.png ');
}

#awwwards.right.white a {
    background-image: url(' /img/assets/ribbons/awwwards_honorable_white_right.png ');
}

/* Green */
#awwwards.left.green a {
    background-image: url('/img/assets/ribbons/awwwards_honorable_green_left.png');
}

#awwwards.right.green a {
    background-image: url('/img/assets/ribbons/awwwards_honorable_green_right.png');
}

/* MEDIA QUERIES */

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {

    /* hidden */
    #awwwards {
        display: none;
    }

}

/* Retina Displays */

/* Target any device with retina display (ie iPad 3 and MacBook Pro) */

